<div class="ChatList">
  <app-notification-count class="ChatList__total-notifications" [number]="totalUnreadCount$ | async"></app-notification-count>
  <app-user-selector></app-user-selector>
  <h2 class="ChatList__heading">Groups</h2>
  <ul class="ChatList__items">
    <app-chat-list-item [chat]="chat" [current]="chat.id === id" [unreadCount]="(unreadCounts$ | async)[chat.id]" *ngFor="let chat of groupChats$ | async | sortBy: 'name^'"></app-chat-list-item>
  </ul>

  <h2 class="ChatList__heading">Users</h2>
  <ul class="ChatList__items">
    <app-chat-list-item [chat]="chat" [current]="chat.id === id" [unreadCount]="(unreadCounts$ | async)[chat.id]" *ngFor="let chat of userChats$ | async | doesNotInclude: 'users' : (currentUserId$ | async) | sortBy: 'name^'"></app-chat-list-item>
  </ul>
</div>
