<div class="MessageList">
  <header class="MessageList__header">
    <h2 class="MessageList__title">{{ group?.name }}</h2>
  </header>

  <div #scroller class="MessageList__messages"  (scroll)="onScroll($event)">
    <ng-container *ngFor="let message of messages$ | async; let index = index;">
      <app-chat-list-day-divider [index]="index" [messages]="messages$ | async"></app-chat-list-day-divider>
      <app-message  #messages [attr.id]="message.id"
        class="MessageList__message"
        [message]="message"
        [user]="(users$ | async)[message.sender]"
        [contentEditable]="message.sender === currentUserId ? true : false"
        [groupId]="group?.id"
      ></app-message>
    </ng-container>
  </div>
  <app-message-form class="MessageList__form" (messageSent)="messageSent($event)"></app-message-form>
</div>
