@keyframes scale-easeOutElastic {
  0% {
    transform: scale(1);
  }

  16% {
    transform: scale(-0.32);
  }

  28% {
    transform: scale(0.13);
  }

  44% {
    transform: scale(-0.05);
  }

  59% {
    transform: scale(0.02);
  }

  73% {
    transform: scale(-0.01);
  }

  88% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }

}

@keyframes scale-easeInElastic {
  0% {
    transform: scale(0);
  }

  16% {
    transform: scale(1.32);
  }

  28% {
    transform: scale(.87);
  }

  44% {
    transform: scale(1.05);
  }

  59% {
    transform: scale(1.02);
  }

  73% {
    transform: scale(.99);
  }

  88% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes scale-growElastic {
  0% {
    transform: scale(1);
  }

  16% {
    transform: scale(1.32);
  }

  28% {
    transform: scale(.87);
  }

  44% {
    transform: scale(1.05);
  }

  59% {
    transform: scale(1.02);
  }

  73% {
    transform: scale(.99);
  }

  88% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
